.bg {
    /* background-image: url('../images/fitpic.jpg'); */
    background-image: linear-gradient(to bottom, rgb(67, 185, 132, 0.80), rgb(67, 185, 132, 0.80)), url('../images/fitpic.jpg');
    height: 100vh;
    background-size: cover;
    background-position: top;
    position: relative;
    background-color: #43B984;
}